POSTGRES_USER=projekt
POSTGRES_PASSWORD=pass
POSTGRES_DB=ilm_surm_liiklus

DB_HOST=db
DB_PORT=5432

SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=superset
SUPERSET_DB_NAME=superset

SUPERSET_SECRET_KEY=change-me-change-this-later

SUPERSET_ADMIN_USER=project
SUPERSET_ADMIN_PASSWORD=project
SUPERSET_ADMIN_EMAIL=project@example.com

DBT_DB_HOST=db
DBT_DB_PORT=5432
DBT_DB_USER=projekt
DBT_DB_PASSWORD=pass
DBT_DB_NAME=ilm_surm_liiklus
